.cont {
  display: flex;
  column-gap: 80px;
  height: min-content;
  align-items: stretch;
  font-size: 56px;
  line-height: 120%;
  p {
    max-width: 353px;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: clamp(20px, 6.25vw, 56px);
    p {
      max-width: 123px;
    }
  }
}
