.dotsCont {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
  .dot {
    width: 6px;
    height: 6px;
    background-color: $accent-color;
    border-radius: 50%;
    cursor: 'pointer';
  }
}
