.curcle {
  border: 1px solid rgba($accent-color, 0.2);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
  .pointWrapper {
    position: absolute;
    overflow: visible;
    width: 0px;
    height: 0px;
    .circleItem {
      position: absolute;
      background-color: $accent-color;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(49, 63, 89, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      p {
        text-align: center;
        opacity: 0;
        transform-origin: center center;
        line-height: 1;
        font-size: 20px;
        font-weight: 400;
      }
    }
    .floatingText {
      position: absolute;
      pointer-events: none;
      white-space: 'nowrap';
      transform: translate(-50%, -50%);
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      pointer-events: none;
      font-size: 20px;
      font-weight: bold;
      line-height: 150%;
    }
  }
  .active {
    border-width: 1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}
